<p id="notice"><%= notice %></p>
<h2>Welcome <%= current_user.email %></h2>
<h2>Posts</h2>
<br>
<p><%= link_to 'New Post', new_post_path, class: "btn btn-primary" %></p>
<br>
<div class="row">
  <% @posts.each do |post| %>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3><%= post.title.truncate(15) %></h3>
          <p>by <%= post.user.username %></p>
        </div>
        <div class="panel-body">
          <p><%= post.blog_entry.truncate(150) %></p>
        </div>
        <div class="panel-footer">
          <%= link_to  "Show", post, class:"btn btn-info" %>
          <%= link_to  "Edit", edit_post_path(post), class:"btn btn-warning" %>
          <%= link_to "Destroy", post, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
</div>